[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy = "*"
rq = "*"
raven = "*"
eve = "*"
requests = "*"
sentry-sdk = "*"

[requires]
python_version = "3.7"
