[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
httpie = "*"

[packages]
eve = "*"
dnspython = "*"
sentry-sdk = "*"
redis = "*"
rq = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
